header {
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid $color-white;
}

.nav {
    text-align: center;
    list-style: none;
    text-transform: uppercase;

    li {
        a {
            width: 100%;
            display: block;
            padding: 1rem;
            color: $color-white;
            font-weight: 100;
        }
    }
}


