main {
    color: white;
    text-align: center;
    position: relative;
    height: 100vh;
    .intro {
      width: 90%;
      @include centerContent($top: 40%);

        .intro__name {
            text-transform: uppercase;
            font-weight: 100;
            font-size: 6rem;
            font-family: 'Hanalei', cursive;
            letter-spacing: 4px;
            margin-bottom: 0.85rem;
        }

        .blink {
          display: inline-block;

          h3 {
              font-weight: 100;
              font-size: 2rem;
          }

          .typing-effect {
            // add right border to the text
            border-right: 2px solid $color-white;
            overflow: hidden;
            white-space: nowrap;
            // play blink animation for the right border
            // play typing animation
            animation: typing-anim 10s steps(27) forwards,
                      blinking-anim .7s step-end infinite;
            animation-iteration-count: infinite;
          }

        }

    }

    // .social-icons {
    //   width: 300px;
    //   position: absolute;
    //   top: 75%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   background-color: rgba($color-white, .5);
    //   .fab {
    //     font-size: 3rem;
    //     margin: 1rem 2rem;
    //     &:first-child{
    //       color: $color-fb;
    //     }
    //
    //     &:nth-child(2){
    //       color: $color-twitter;
    //     }
    //
    //     &:last-child {
    //       // add a nice gradient to the instagram icon
    //       color: transparent;
    //       background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    //       background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    //       background-clip: text;
    //       -webkit-background-clip: text;
    //     }
    //   }
    // }
}



@keyframes blinking-anim {
  from,to {
    border-color: transparent;
  }

  50% {
    border-color: $color-white;
  }
}

@keyframes typing-anim {
  0% {
    width: 0%;
  }
  30% {
    width: 100%;
  }

  80% {
    width: 100%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
