main {
    color: white;
    text-align: center;
}

.intro {
    width: 90%;
    @include centerContent;
}

.intro {
    
    h1 {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 5rem;
    }

    h3 {
        font-weight: 100;
        font-size: 2rem;
    }
}