.navigation {
  &__checkbox {
    // hide the checkbox
    display: none;
  }

  &__button {
    // cover up the background image for the menu
    height: 7.5rem;
    width: 7.5rem;
    // make the button fixed and position it on top of the background circle
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 2000;
    background-color: $color-white;
    // add a shadow to the button
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    // adding background to our menu, this background will be covered by the button
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: red;
    // make the menu fix
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    // make it always on top of everything
    z-index: 1000;
    // add a gradient to the circle
    background-image: radial-gradient($color-white, gray);
    // animate the background
    transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }

  &__nav {
    // take up the full view port and center links inside it
    height: 100vh;
    width: 100%;
    // attach it to the screen
    position: fixed;
    top: 0;
    right: 0;
    // make it always on top but under the button
    z-index: 1500;
    // hide the navigation
    opacity: 0;
    // ... and make sure the invisable links are not clickable
    width: 0;
    // animate
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  }

  &__list {
    // center the list
    @include centerContent($top: 50%);
    // get rid of default bullets
    list-style: none;
    text-align: center;
    // set it to 100% , this will stop a sliding like effect when we open and close the navigation
    width: 100%;
  }

  &__item {
    margin: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      // style the links
      display: inline-block;
      color: $color-black;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black 50%);
      background-size: 230%;
      // animate
      transition: all .5s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      transform: translateX(1rem);
      color: $color-white;
    }

  }
  // if the checkbox has been checked grab the background sibling of the checkbox
  &__checkbox:checked ~ &__background {
    // scale up the background
    transform: scale(80);

  }

  // if the checkbox has been checked grab the navigation sibling of the checkbox
  &__checkbox:checked ~ &__nav {
    // make the navigation visable
    opacity: 1;
    width: 100%;
  }

  // HAMBURGER ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;
    // there elements are sharing the same styles
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      // animate lines
      transition: all .2s;
    }
    // move it down
    &::before{ top: -.8rem; }
    // move it up
    &::after { top: .8rem; }
  }
  // space out the lines on hover
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }

  // hide the middle line on click, and remeber that the before and after pseudo elements depend on this element
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
